.App {
    font-size: 14px;
    font-weight: 500;
    margin-top: 30%;
  }
  
  .btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(190, 189, 189);
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
  .btn:hover {
    background-color: whitesmoke;
  }
  .btn-warning {
    border: 2px solid red;
  }
  .text-italic {
    font-style: italic;
  }
  .btn-group {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  